*{
    margin:0;
    padding:0;
}


body{
    background-color: #6969df;
    color: #fff;
}

.container{
    text-align: center;
    margin-top: 20px;
}


button{
    background: #000;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
}

input{
    padding: 10px;
    font-size: 18px;
}

.quantity{
    margin-top: 30px;
}